/* Font */
@font-face {
  font-family: "LufthansaText-Regular";
  src: local(''),
       url("fonts/lht/LufthansaText-Regular.otf") format("opentype");
}
@font-face {
  font-family: "LufthansaHead-Light";
  src: local(''),
       url("fonts/lht/LufthansaHead-Light.otf") format("opentype");
}
@font-face {
  font-family: "LufthansaHead-Thin";
  src: local(''),
       url("fonts/lht/LufthansaHead-Thin.otf") format("opentype");
}
