/*-- scss:defaults --*/
/* Font */
/* LHT */
@font-face {
  font-family: "LufthansaText-Regular";
  src: local(''),
       url("../../fonts/lht/LufthansaText-Regular.otf") format("opentype");
}
@font-face {
  font-family: "LufthansaHead-Light";
  src: local(''),
       url("../../fonts/lht/LufthansaHead-Light.otf") format("opentype");
}
@font-face {
  font-family: "LufthansaHead-Thin";
  src: local(''),
       url("../../fonts/lht/LufthansaHead-Thin.otf") format("opentype");
}

/* ADBE */
@font-face {
  font-family: "AdobeClean-Bold";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-BoldSemiCondensed";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-BoldSemiCondensed.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-BoldSemiCondensedItalic";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-BoldSemiCondensedItalic.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-Light";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-Light.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-LightItalic";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-Regular";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-RegularItalic";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-SemiCondensed";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-SemiCondensed.otf") format("opentype");
}
@font-face {
  font-family: "AdobeClean-SemiCondensedItalic";
  src: local(''),
       url("../../fonts/adbe/AdobeClean-SemiCondensedItalic.otf") format("opentype");
}









