.slides {
  
  inset: 55% auto auto 50% !important;
  transform: translate(-55%, -50%) scale(0.411);
}

/*-- scss:defaults --*/
// Font
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,400italic,700italic);

$font-family-sans-serif: Poppins, sans-serif !default;

// general
$body-color: #484848 !default;
$link-color: #00C1D4 !default;

/*
$body-bg: #fff !default;
$selection-bg: $link-color !default;
$selection-color: #fff !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;
*/

// headings
$presentation-heading-font: Poppins, sans-serif !default;
$presentation-heading-color: #005e73 !important;
$h1-font-size: 1.8em !default;
$h2-font-size: 1.6em !default;
$h3-font-size: 1.3em !default;
$h4-font-size: 1.0em !default;

h1 h1:not(#title-slide), h2
{
    border-bottom:1px solid $body-color;
    width:100%;
    float:left;
    padding-bottom:3px;
}

// code
/*
$code-color: #2dc6d6;
$code-block-bg: #444758;
$code-block-border-color: #000000;
*/

/*-- scss:rules --*/
/********************************
********** Title Slide **********
********************************/

#title-slide {
 text-align: left;
 background-image: url("/revealjs/img/logo/TIE/logo.svg");
 background-position: right bottom; /*Positioning*/
 background-size: 12.5em auto;
 background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

#title-slide .subtitle {
  font-size: 1em;
}

#title-slide .institute, 
#title-slide .author, 
#title-slide .date {
  font-style: italic;
  font-size: 0.6em;
}
#title-slide .author {
  color: $link-color;
}
/*Vertical line*/
#title-slide p.author::before {
  content: "";
  display: block;
  border: none;
  background-color: $body-color;
  color: $body-color;
  height: 3px;
  margin-bottom: 1em;
}

/**********************************
********** Slide Numbers **********
**********************************/
.slide-number, .reveal.has-logo .slide-number {
  font-size: 0.35em !important;
  padding:  5px 0px 0px 5px !important;
  bottom: 18px !important;
  right: 18px !important;
  top: unset !important;
  color: $body-color !important;
}

/***************************
********** Footer **********
***************************/
.reveal .footer {
  color: $body-color;
  font-size: 0.35em !important;
}

/*************************
********** Logo **********
*************************/
.menubar {
 text-align: left;
 background-image: url("/revealjs/img/logo/TIE/logo.svg");
 background-position: right; /*Positioning*/
 background-size: auto 80%;
 background-origin: content-box; /*Padding of image*/
 background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

/*****************************************
**** Hide elements on specific slides ****
*****************************************/
/*HIDE (bottom)*/
.reveal .slide-number,
.reveal .footer {
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985), 
  -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);

}

/*SHOW*/
body:not(.hide-menubar) .reveal.ready:not(.hide-menubar) .slide-number,
body:not(.hide-menubar) .reveal.ready:not(.hide-menubar) .footer {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/***************************************************
**** Tooltip on title slide - Toggle Fullscreen ****
****************************************************/
.tippy-box {
  font-family: $font-family-sans-serif;
  background-color: transparent;
  color: #2dc6d6;
  border: 0.1rem solid #2dc6d6;
  .tippy-arrow {
    transform-style: preserve-3d;

    &::after {
      content: '';
      position: absolute;
      top: 17px;
      transform: translateZ(-1px);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #2dc6d6;
    }
  }
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $body-bg;
}